header {
    display: flex;
    height: 150px;
    background-color: #fff;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

.button {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    width: 100px;
}

.button a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.main {
    background: linear-gradient(to bottom,#f6f5f5 0,#f6f5f5 72%,#fff 72%,#fff 100%);
    padding: 20px;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #c3366f;
}

.featured {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 9%);
    text-align: center;
}

article img {
    height: 450px;
    width: 250px;
}

.latest-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    display: flex;
    align-items: flex-start;
    max-width: 1100px;
    align-items: center;
    margin-bottom: 0;
}

.latest {
    background-color: #f6a6b9;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.view-all {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    padding: 10px;
}

span {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    text-transform: lowercase;
    padding-left: 2px;
    padding-right: 2px;
}

.posts-container {
    display: flex;
    max-width: 1100px;
    border-style: solid;
    border-color: #f6a6b9;
    border-width: 5px;
    margin-top: 0;
}

.blog {
    width: 16.6%;
}

.blog img {
    height: 230px;
    width: 155px;
}

.newsletter-container {
    background-color: #fdedf0;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscribe {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    padding: 10px;
    font-weight: bold;
}

.subscribe-title {
    font-family: 'Playfair Display', serif;
    padding-bottom: 20px;
}

.subscribe-excerpt {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-bottom: 20px;
}

.sign-up-form {
    max-width: 700px;
}

input[type=submit] {
    background-color: #f7b8c3;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
    border-radius: 4px;
    border-style: none;
    padding: 10px;
}

input {
    border: none;
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 4px;
    margin: 5px;
    padding: 10px;
}

footer {
    display: flex;
    background-color: #f6a6b9;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.credits {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}