header {
    display: flex;
    height: 150px;
    background-color: #fff;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

.button {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    width: 100px;
}

.button a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

body {
    
}

h1 {
    font-family: 'Playfair Display', serif;
}

.main {
    background: linear-gradient(to bottom,#f6f5f5 0,#f6f5f5 72%,#fff 72%,#fff 100%);
    padding: 20px;
}

a {
    color: #212121;
    text-decoration: none;
}

a:hover {
    color: #c3366f;
}

.featured {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 9%);
    text-align: center;
}

article img {
    height: 450px;
    width: 250px;
}

.latest-posts {
    display: flex;
}

.label {
    background-color: #fdedf0;
    height: 50px;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}

footer {
    display: flex;
    background-color: #FBEDE5;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.credits {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
}